<!DOCTYPE html>
<html>
<head>
  <title>Examples</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <%= yield %>
    </div>
    <div class="col-xs-3">
      <h1>Sample Front-end focused RoR application</h1>
    </div>
  </div>
</div>

</body>
</html>
